
/* Roboto */
@font-face {
    font-family: "Roboto";
    src: url(./fonts/roboto-regular.woff2);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(./fonts/roboto-bold.woff2);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url(./fonts/roboto-light.woff2);
    font-weight: 100;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}
a {
    text-decoration: none;
    color: #F9FAF8;
}

ul {
    list-style: none;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 600;
    transition-duration: 0.4s;
    position: relative;
}

button:hover {
    background-color: #6a9ff5;
}

/* Button Effect, not mine */
button::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 10px;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px rgb(225, 236, 240);
  }

  button:active:after {
    box-shadow: 0 0 0 0 rgb(180, 170, 170);
    position: absolute;
    border-radius: 10px;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
  }

  button:active {
    top: 1px;
  }

.header-hero-container {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-top:20px;
}
/* Add edge margin to everything when screen collapses */
.hero-container { 
    margin-left: 10%;
    margin-right: 10%;
    gap: 48px;
}

.header-links {
    display: flex;
    align-items: start;
    gap: 14px;
}
.hero-background {
    display: flex;
    background-color: #1F2937;
    /* outline: 3px solid green; */
}

.hero-background, .gallery-container, .quote-container, .contact-container {
    justify-content: center;
}
.hero-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.hero-text {
    flex: 1;
    /* padding: 20px; */
    /* max-width: 400px; */
}
.hero-image {
    width: 400px;
    height: 300px;
     /* outline: 3px #3882F6 solid; */
     filter: drop-shadow(0 5px 0.90rem #0c0f14);
}
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.gallery-image {
    width: 150px;
    height: 150px;
    outline: 3px #3882F6 solid;
    border-radius: 10px;
    object-fit: cover;
    transition: all .3s;
}

.gallery-item {
    /* transition: transform .3s; */
}

.gallery-image:hover {
    -ms-transform:scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    filter: drop-shadow(0  5px 0.5rem #6a6b6b);
    outline: 3px #7261b1 solid; 
}

/* MARGINS */
.yoshi-gallery, .header, .quote-container,.contact-container,.hero-background,.gallery-header {
    margin-bottom: 40px;
}

h1 {
    margin-bottom: .2em;
}

.hero-secondary {
    margin-bottom: 16px;
}
.signup-button {
    outline: #F9FAF8 solid 2px;
    flex: initial;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}

.hero-header {
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
}
.hero-secondary, .header-links {
    font-size: 18px;
    font-weight: 100;
}

.header, .footer, .hero-text, .header-links {
    background-color: #1F2937;
    color: #F9FAF8;
}

.gallery-header {
    font-size: 36px;
    font-weight: bolder;
    padding-top: 20px;
}

.caption, .gallery-header {
    text-align: center;
}

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
}
.quote-box {
    padding: 50px;
}
.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    max-width: 700px;
    padding: 20px 0 20px;
}
.name {
    font-size: 14px;
    font-weight: bold;
    text-align: right;
}
.contact-container {
    display: flex;
    align-self: center;
}
.contact-box {
    display: flex;
    padding: 20px 20px;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    color: #F9FAF8;
    flex-basis: 900px;
    max-width: 900px;
    border-radius: 10px;
    gap: 20px;
}
.call-title {
    font-size: 18px;
    font-weight: bold;
}
.call-text {
    padding: 20px;

}
.footer {
    margin-top: auto;
    height: 72px;
    text-align: center;
    padding: 20px;
}

.night-mode {
    color: #F9FAF8 !important;
    background-color: #151b24 !important;
}


/* NIGHT MODE SWITCH */

.night-mode-switch {
    position: absolute;
    right: 30px;
    top: 15px;
}
.switch {
    margin: 8px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

/* Shift margins if screen is wide enough */
@media screen and (min-width: 1545px) {
    .header,.hero-container {
        margin-left: 20%;
        margin-right: 20%;
    }
}

  /* MOBILE SPECIFIC RULES */

@media screen and (max-width: 950px) {
    .header {
        flex-direction: column;
        gap: 20px;
    }

    .logo {
        font-size: 34px;
    }
    .contact-container,.gallery-container,.hero-text {
        margin: 40px 5%;
    
    }
    .night-mode-switch {
        transform: scale(0.8);
        top: 2%;
        right: 2%;
    }

}